{%extends 'layout.html'%}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block top%}

    <title>Display</title>
    {%endblock%}
</head>

<body>
    {%block content%}
    {%for i in context.loans%}
    <div class="container">
        <div class="col mb-3">
            <div class="card" style="width: 22rem;">
            <img src="https://picsum.photos/200/30{{loop.index-1}}" class="card-img-top" alt="...">
            <div class="card-body">
                        <h5 class="card-title">customer ID {{i[3]}}</h5>
                        <p class="card-text">Book name: {{i[0]}}</p>
                        <p class="card-text">Loan Date: {{i[5]}}</p>
                        <p class="card-text">Return Date: {{i[6]}}</p>
                        <p></p> <a href="/books/return/{{i[4]}}" button type="button"
                            class="btn btn-warning">RETURN</button></a></p>
                            <div class="card-footer text-muted">
                                {{context.iflate[ loop.index -1]}}
                            </div>
                    </div>
                </div>
            </div>
        </div>
    
        <br>
        <br>
        
        {%endfor%}
        <!-- flash messages -->
        {%with messages = get_flashed_messages()%}
        {%if messages%}
        {%for msg in messages%}
        <p>
        <h2>{{msg}}</h2>
        </p>
        {%endfor%}
        {%endif%}
        {%endwith%}
        <!-- fash messages end -->
        {%endblock%}
</body>

</html>