{%extends 'layout.html'%}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block top%}

    <title>Display</title>
    <style>
        body {
            /* The image used */
            background-image: url('/static/ban1.webp');
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    {%endblock%}
</head>

<body>
    {%block content%}
    {%for i in res%}

    <div class="container h-100">
            <div class="col-9 mx-auto">
                <div class="card h-100 border-primary justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="https://picsum.photos/200/30{{i[0]}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{i[1]}}</h5>
                            <p class="card-text">Autor: {{i[2]}}</p>
                            <p class="card-text">Year Published: {{i[3]}}</p>
                            <p class="card-text">Type: {{i[4]}}</p>
                            <p> <a href="/books/loans/{{i[0]}}" button type="button"
                                    class="btn btn-info">LOAN</button></a>
                                <a href="/helper/delbook/{{i[0]}}" button type="button"
                                    class="btn btn-warning">DELETE</button></a>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        {%endfor%}
        <!-- flash messages -->
        {%with messages = get_flashed_messages()%}
        {%if messages%}
        {%for msg in messages%}
        <p>
        <h2>{{msg}}</h2>
        </p>
        {%endfor%}
        {%endif%}
        {%endwith%}
        <!-- fash messages end -->
        {%endblock%}
</body>

</html>